.header {
	width: 100%;
	padding-block: 24px;
	position: relative;
	z-index: 100;

	&-container {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;

		&-left {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 16px;
		}

		&-right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 16px;
		}
	}
}
