.home-filters {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 32px;
	margin: 16px 0;
	padding: 0 5%;

	&-box {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-left {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 16px;
		}
	}

	&-options {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 16px;
	}

	/* &-option {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
        background-color: var(--color-bg);
        color: var(--color-icon);
        border-radius: 500px;
        height: 40px;

        & svg:is(:last-child) {
            cursor: pointer;
        }

        &--active {
            background-color: var(--color-icon);
            color: var(--color-bg);
        }
    } */
}
